/*
 * PHP Word Count.
 *
 * Developed By Doonweb.ir.
 *
 * @since 1.0.0
 */
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #5333ed55;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
form{
    width: 8500px;
    max-width: 98%;
    margin: auto;
    padding:40px 25px;
    background-color: #5333ed;
    border-radius: 15px;
    color: #fff;
    position: relative;
}
form h1{
    text-align: center;
}
label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
textarea{
    padding: 16px;
    width: 100%;
    min-height: 300px;
    resize: vertical;
}
form button{
    display: block;
    width: 100%;
    padding: 12px 16px;
    margin-top: 1rem;
    background: orange;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
form button:hover{
    background-color: aquamarine;
}
.copyright{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
}
.copyright a{
    text-decoration: none;
    color: yellow;
}
.result{
    text-align: center;
    padding: 30px 20px ;
    background: yellow;
    color: black;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.result strong{
    font-size: 1.5rem;
}